.modal {
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  transform: scale(0);
  transition: transform .3s;
}

.modal__content {
  width: max-content;
  height: max-content;
  position: relative;
}

.modal--show {
  transform: scale(1);
}
